*{
    box-sizing: border-box;
}


/* ESTILOS GENERALES FORMULARIOS  */
form{
    padding: 1%;
    border-radius: 15px;
    background-color: rgba(245, 245, 220, 0.678);
    width: 30%;
    margin-bottom: 14px;
}

/* CAMPOS DE TEXTO */
input.nombre, input.pass, textarea{
    padding: 14px;
    border-radius: 5px;
    width: 100%;
}

/* TIPOGRAFÍA */


