// *****************************
// +++++++ $LAYOUTS ++++++
// *****************************

*{
    box-sizing: border-box;
}

/* ------------------ Margins ------------------ */

/* vertical margins */

.padding_section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.margin_section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

img {
    vertical-align: bottom;
}

/* horizontal margins */

.maxWidth {
    padding-left: 5%;
    padding-right: 5%;
}
