/* 
Ejercicio de CSS plano sin resset ni normalize
*/

/* Estilos generales */
*{
    box-sizing: border-box; 
    list-style: none ;
}
body{
    margin:0;
}
a{
    text-decoration: none;
   
}

/* Titulos */
h1{
    text-align: center;
    color: #fefefe;
}
h1,h2,h3,h4,h5,h6{
    font-family:Arial, Helvetica, sans-serif ;
}
/* Textos */
p,ul,li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

/* Estilos aplicados a las listas */

ul.lista li:before{
    content:"-";
}

nav a, nav .nav-title{
    color: #fefefe;
}

/* Efecto parallax */
.content
{
 
 
  min-height: 100%;
  background: #ededed;
  position: relative;
  z-index: 1;
  padding:1%;
  margin:1% 0;
}

header{
    
    height: 100%;
    width: 100%;
    background-image: url(../img/bg-header.jpg);
    background-position: center center;
    background-size: cover;
    top: 0;
    position: fixed;
    z-index: -1;
}
.wrapper-parallax {
    margin-top: 100%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

/* Botones "ve al indice" */

.button{
    padding: 7px;
    position:relative;
    background:#f7d117;
    color: #ffff;
    font-weight: bold;
    font-size: 1.3em;
}

.button::before{
    content: '';
    position: absolute;
    right: -2px;
    bottom:-1px;
    display:block;
    height: 5px;
    width: 100%;
    background: #d3b210;
    transform: skewx(45deg);
    opacity: 1;
}

.button::after{
    content:'';
    position: absolute;
    display: block;
    right: -4px;
    height: 90%;
    width: 4px;
    background:#d3b210;
    transition:0.1s;
    transform: skewy(45deg);
    opacity: 1;
    top: 3px;
}


.button:hover{
    background: #f7d117;
    color: #ffffff;
    left:0.1em;
    border: 2px solid  #f7d117;
    left: 0.1em;
    transition: 0.5s;
}

.button:hover::before{
    bottom:-2px;
    right: -1px;
    height: 2px;
    transition: 0.5s;
}

.button:hover::after{
    opacity: 1;
    bottom: -1px;
    right: -2px;
    transition:0.5s;
    width: 2px !important;
    
}

.button:hover{
    border-top: 1px solid  #d3b210;
    border-left: 1px solid  #d3b210;
    border-right: #d3b210 2px solid;
    border-bottom: 1px solid  #d3b210;
}