// *****************************
// +++++++ $ENLACES ++++++
// *****************************

//Todos los enlaces
a{
    text-decoration: none;
}

//los enlaces del navegador
nav a{
    color: white;

    &__underline{
        border-bottom: 2px solid white;
    }
}


